body {
    overflow: hidden;
}

button {
    background-color: #0064a6;
    color: azure;
    height: 40svh;
    width: 40svw;
    font-size: 6rem;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;

    &:hover {
        scale: 1.1;
    }
    &.selected {
        position: fixed;
        top: 0;
        left: 0;
        height: 100svh;
        width: 100svw;
        font-size: 28rem;
        font-family: "Sitka Display", sans-serif;
    }
}