:root {
    --primary-color: #0064a6;
    --secondary-color: #070707;
    --tertiary-color: #1b1b1b;
}

body {
    overflow: hidden;
    background-color: var(--tertiary-color);
    padding: 25px 50px 25px 50px;
    color: azure;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap:  7rem;
}

button {
    background-color: var(--primary-color);
    color: azure;
    height: 20rem;
    width: 20rem;
    font-size: 8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.3s ease-in-out, transform 0.3s ease-in-out;
    border: 4px solid var(--secondary-color);
    outline: 4px solid var(--secondary-color);

    &:hover {
        scale: 1.1;
        box-shadow: var(--secondary-color);
        transform: translate(0, 1ex);
    }

    &:focus,&:active{
        transform: translate(0, 0);
    }

    &.selected {
        position: fixed;
        color: var(--primary-color);
        top: 0;
        left: 0;
        height: 100svh;
        width: 100svw;
        font-size: 30rem;
        font-family: "Sitka Display", sans-serif;
        z-index: 1000;
    }

    &.visible {
        color: azure;
    }
}