/* Layout */
body {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    margin: 0.9rem 0.5rem 0.9rem 0.5rem;
    padding: 0.9rem 1rem 0.92rem 1rem;
}

h1 {
    outline: 1px solid sandybrown;
    padding: 0.9rem 1rem 0.92rem 1rem;
    display: inline-block;
}

dd {
    margin-inline-start: 0;
    outline: 1rem dashed orange;
}

/* Effects */
button {
    border: 3px solid lightskyblue;
    transition: outline-color ease-in-out 7s,
                filter ease-in-out 0.3s;
    font-weight: bold;;
    margin: 0.9rem 0.5rem 0.9rem 0.5rem;
    padding: 0.9rem 1rem 0.92rem 1rem;
}

button::after {
    content: " ❤️";
    height: 1rem;
    width: 1rem;
    animation: scale 2s linear infinite;
}

button:first-of-type::after {
    content: "";
}

.rocket {
    display: block;
    animation: launch 2s linear infinite;
    border-bottom: 1rem solid lime;
    border-top: 1rem solid orange;
}

button:hover {
    cursor: pointer;
    outline-color: lime;
    box-shadow: #8fff60;
    filter: invert(100%);
}

@keyframes launch {
    0% { transform: translateY(100%); }
    100% { transform: translateY(1rem); }
}

@keyframes scale {
    0% { font-size: 3rem }
    100% { font-size: 7rem }
}